name: Build and deploy Node.js app to Azure Web App - MyWaprApp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install
        run: npm ci || npm install

      - name: Build (if present)
        run: npm run build --if-present

      - name: Create deployment zip
        run: |
          zip -r release.zip . \
            -x ".git/*" \
            -x "node_modules/*" \
            -x ".github/*"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2D06A4E5A5FB4A9EB8BFDB212C2A0740 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_77A1818FEB6142C59F3E0525680489F0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_457573FDAED745858F2E783A67286CE4 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "MyWaprApp"
          package: release.zip
